name: Laravel Basic CI

on:
  push:
    branches: [ "main" ]

jobs:
  laravel-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'

    - name: Install Composer
      run: composer install

    - name: Basic Test
      run: php --version
